[submodule "src/lib/concurrentBuffers"]
	path = src/lib/concurrentBuffers
	url = https://github.com/skrogh/concurrentBuffers.git
[submodule "src/lib/msf_ekf"]
	path = src/lib/msf_ekf
	url = https://github.com/skrogh/msf_ekf.git
[submodule "src/lib/imuDriver"]
	path = src/lib/imuDriver
	url = https://github.com/skrogh/imuDriver.git
[submodule "src/lib/lsd_slam"]
	path = src/lib/lsd_slam
	url = https://github.com/skrogh/lsd_slam.git
